#about-us
{
    display: flex;
    flex-direction: column;
    border: 3px solid #5E6472;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    background-color:#AED9E0;
}

#info-icon
{
    display:flex;
    align-items: center;
    height: 175px;
    width: 175px;
    padding:0px;
    margin: 0px;
}

#why-section
{
    display:flex;
    flex-direction:row;
    font-family:'Poetsen One';
    font-size: 1.2em;
    color:#dc6b61;;
    border-bottom:2px solid #5E6472;
}

#why-title
{
    display: flex;
    flex-direction: column;
}

#team-section
{
    display: flex;
    flex-direction: column;
}

.member-info
{
    display:flex;
    flex-direction: column;
    
}

.member
{
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin:5px;
    font-family:'Poetsen One';
    color:#dc6b61;;
}

.member-pic
{
    height:100px;
    width: 100px;
    border: 2px solid #5E6472;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom:auto;
}

.organizing
{
    display:flex;
    flex-direction: row;
}

#position
{
    display: flex;
    justify-content: flex-end;
}

#pic
{
    display: flex;
    justify-content: flex-end; 
}

#team-title
{
    display:flex;
    justify-content: center;
    font-family:'Poetsen One';
    color:#dc6b61;;
}