body
{
    background-color:#FAF3DD;
    margin: 50px;
    margin-top: 70px;
}

#gif
{
    position: absolute;
    top:15px;
    transform: scaleX(-1);
    right:6vh;
    height:auto;
    width: 100px;
}

a
{
    text-decoration: none;
}

#logo
{
    border: 5px solid #5E6472;
    border-radius: 5px;
    font-family:'Special Gothic Expanded One';
    font-size: 80px;
    padding:20px;
    text-align: center;
    color: #dc6b61;
    background-image: url(../image/felines_header-nobg_-hd.png);
    background-size:110%;
    background-repeat: no-repeat;
    background-color:#AED9E0;
}

#logo:hover
{
    cursor:url(../image/cat.png), auto;
}

#navigation
{
    display:flex;
    align-items:flex-start;
}

.main-nav
{
    width: 100%;
}

.main-nav ul
{
    display: absolute;
    list-style-type: none;
    padding: 0px;
    margin-top: 25px;
    background-color:#B8F2E6;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    padding-right: fit-content;
}

.main-nav a
{
    font-family:"Special Gothic Expanded One";
    display:block;
    float:left;
    padding: 15px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    color:#dc6b61;
}

.main-nav a:hover
{
    background-color:#7dc6b7;
    cursor:url(../image/cat.png), auto;
}

.main-nav a:active
{
    color:#efaba5;
    background-color:#50a896;
    cursor:url(../image/cat.png), auto;
}

.main-nav li
{
    float:left;
}

#icon
{
    display: flex; 
}

#icon:hover
{
    transform: scale(1.5);
    cursor:url(../image/cat.png), auto;
}

#small-logo
{
    display:relative;
    height:75px;
    width:75px;
    margin-top:10px;
}

main
{
    display: flex;
}

#search-sidebar
{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    border: 4px solid #5E6472;
    width:fit-content;
    height: 600px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float:left;
    flex-direction: column;
    text-align: center;
    background-color:#AED9E0;
    color:#dc6b61;
    font-family:'Poetsen One';
    overflow:hidden;
}

#search-icon
{
    position:absolute;
    height: 250px;
    top:450px;
    left:-25px;
    right: 0px;
}

#state
{
    list-style-type: none;
    text-align:center;
    padding: 0px;
}

#cat-list
{
    display: flex;
    border: 4px solid #5E6472;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    width:100%;
    gap: 20px;
    background-color:#AED9E0;
}

#pagination
{
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
}
.page-btn
{
    color:#dc6b61;
    text-decoration: none;
    font-size: 1.2em;
    margin: auto;
    border: 2px solid #5E6472;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #B8F2E6;
    font-weight:bold;
    font-family:'Poetsen One';
}

.page-btn:hover
{
    font-size: 1.1em;
    border: 2px solid #5E6472;
    background-color:#92d3c6;
    cursor:url(../image/cat.png), auto;
}

#cat-cards
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding:10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 5px;
    align-items: flex-start;
}
.cat-info
{
    display: flex;
    flex-direction: column;
    border: 3px solid #5E6472;
    margin-top:65px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    color:#dc6b61;
    font-family:'Poetsen One';
}

.cat-image
{
    border-radius: 5px;
    margin-bottom: 10px;
}

#warning
{
    margin-left:auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 1920px)
{
    #logo
    {
        font-size:80px;
        padding: 20px;
        background-size: 80%;
        background-position-y: -145px;
    }
}

@media screen and (max-width: 960px)
{
    #logo
    {
        font-size:80px;
        padding: 20px;
        background-size: 100%;
        background-position-y: -60px;
    }

       #search-icon
    {
        left:-38px;
        right: 0px; 
    }

     #cat-cards
    {
        display:flex;
        justify-content:space-around;
    }
}

@media screen and (max-width: 600px)
{
    #logo
    {
        font-size: 50px;
        padding:10px;
        background-size:120%;
        background-position-y: -60px;
    }

    #search-icon
    {
        left:-55px;
        right: 0px; 
    }

    #cat-cards
    {
        display:flex;
        justify-content:space-around;
    }
}