main
{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(118, 72, 6);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

#info-icon
{
    display:flex;
    align-items: center;
    height: 150px;
    width: 150px;
    padding:0px;
    margin: 0px;
}

#why-section
{
    display:flex;
    border: 1px solid;
    flex-direction:row;
    font-family:monospace;
    font-size: 1.2em;
}

#why-title
{
    display: flex;
    flex-direction: column;
}

#team-section
{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.member-info
{
    display:flex;
    flex-direction: column;
}

.member
{
    display: flex;
    flex-direction: row;
    justify-content:left;
    border: 1px solid;
}

.member-pic
{
    height:100px;
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
}