body
{
    background-color:rgb(181, 117, 28);
    margin: 50px;
    margin-top: 70px;
}

#gif
{
    position: absolute;
    top:15px;
    transform: scaleX(-1);
    right:6vh;
    height:auto;
    width: 100px;

}

a
{
    text-decoration: none;
}

#logo
{
    border: 5px solid;
    border-radius: 5px;
    border-color:rgb(118, 72, 6);
    font-family:'Special Gothic Expanded One';
    font-size: 80px;
    padding:20px;
    text-align: center;
    color:rgb(213, 159, 51);
    background-image: url(../image/felines_header-nobg_-hd.png);
    background-size:110%;
    background-repeat: no-repeat;
    background-color:rgb(135, 204, 220);
}

#navigation
{
    display:flex;
    align-items:flex-start;
}

.main-nav
{
    width: 100%;
}

.main-nav ul
{
    display: absolute;
    list-style-type: none;
    padding: 0px;
    margin-top: 25px;
    background-color:rgb(165, 79, 42);
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    padding-right: fit-content;
}

.main-nav a
{
    font-family:"Special Gothic Expanded One";
    display:block;
    float:left;
    padding: 15px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    color:rgb(213, 159, 51);
}

.main-nav a:hover
{
    background-color:rgb(118, 72, 6);
}

.main-nav a:active
{
    color:rgb(228, 181, 86);
    background-color:rgb(79, 48, 4);
}

.main-nav li
{
    float:left;
}

#icon
{
    display: flex; 
    margin-left:auto;
}

#icon:hover
{
    transform: scale(1.5);
}

#small-logo
{
    display:relative;
    height:75px;
    width:75px;
    margin-top:10px;
}

main
{
    display: flex;
}

#search-sidebar
{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    border: 4px solid rgb(118, 72, 6);
    width:fit-content;
    height: 600px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float:left;
    flex-direction: column;
    text-align: center;
    background-color:rgb(30, 132, 190);
    color:rgb(94, 54, 1);
    font-family:'Poetsen One';
    overflow:hidden;
}

#search-icon
{
    position:absolute;
    height: 250px;
    top:450px;
    left:-25px;
    right: 0px;
}

#state
{
    list-style-type: none;
    text-align:center;
    padding: 0px;
}

#cat-list
{
    display: flex;
    border: 4px solid rgb(118, 72, 6);
    flex-direction: column;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    width:100%;
    gap: 20px;
    background-color:rgb(30, 132, 190);
}

#pagination
{
    text-align: center;
}
.page-btn
{
    color:rgb(82, 36, 4);
    text-decoration: none;
    font-size: 1.2em;
    margin: auto;
    border: 2px solid rgb(155, 105, 35);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(155, 105, 35);
    font-weight:bold;
    font-family:'Poetsen One';
}

.page-btn:hover
{
    font-size: 1.1em;
    border: 2px solid rgb(140, 88, 16);
    background-color:rgb(140, 88, 16);
}

#cat-cards
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    padding:20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 5px;
    align-items: flex-start;
}
.cat-info
{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(118, 72, 6);
    margin-top:65px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    color:rgb(82, 36, 4);
    font-family:'Poetsen One';
}

.cat-image
{
    border-radius: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1920px)
{
    #logo
    {
        font-size:80px;
        padding: 20px;
        background-size: 80%;
        background-position-y: -145px;
    }
}

@media screen and (max-width: 960px)
{
    #logo
    {
        font-size:80px;
        padding: 20px;
        background-size: 100%;
        background-position-y: -60px;
    }

       #search-icon
    {
        left:-38px;
        right: 0px; 
    }
}

@media screen and (max-width: 600px)
{
    #logo
    {
        font-size: 50px;
        padding:10px;
        background-size:120%;
        background-position-y: -60px;
    }

    #search-icon
    {
        left:-55px;
        right: 0px; 
    }
}