#tips
{
    display:flex;
    flex-direction: column;
}

#tips-intro
{
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid #5E6472;
    border-radius: 10px;
    margin-top:20px;
    padding:10px;
    font-family: 'Poetsen One';
    color:#dc6b61;
    font-size: 1.2em;
    background-color:#AED9E0;
}

#tips-icon
{
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
}

#chatbox-placeholder
{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    border: 4px solid #5E6472;
    border-radius: 10px;
    margin-top:5px;
    background-color:#AED9E0;
}

#chatbox-placeholder p
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:10px;
    font-family: 'Poetsen One';
    color:#dc6b61;
    text-align:center;
    font-size:1.2em;
    width:100%;
    max-height: 20%;
}

#chatbot-icon
{
    display:flex;
    flex-direction: row-reverse;
    width:225px;
    height:225px;
    cursor: url(../image/cat.png), auto;
}

#chatbot-icon:hover
{
    transform: scale(1.1);
}

#chatbot-container
{
    display:flex;
    flex-direction:column;
    border: 3px solid #5E6472;
    margin:10px;
    border-radius:5px;
    background-color:#6088a8;
    width:100%;
    height:85vh;
    overflow:hidden;
}

.hidden
{
    display:none !important;
}

#chatbot-header 
{
    background-color:#77a8cf;
    font-family:'Poetsen One';
    color:#b86359;
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size: 1.2em;
    border-bottom:1px solid #5E6472;
}

#close-btn 
{
    border: 2px solid #5E6472;
    border-radius:3px;
    background-color:#B8F2E6;
    color:#983f37;
    font-size:0.9em;
    cursor:url(../image/cat.png), auto;
}

#close-btn:hover
{
    background-color:#92d3c6;
    font-size:0.8em;
    cursor:url(../image/cat.png), auto;
}

#close-btn:active
{
    color:#efaba5;
    background-color:#50a896;
    cursor:url(../image/cat.png), auto;
}

#chatbot-body 
{
    flex:1;
    padding:10px;
    overflow-y:scroll;

}

#chatbot-messages
{
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  font-family:'Poetsen One';
}

.message 
{
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  max-width: 85%;
  word-wrap: break-word; /*ensure the long word to break and wrap do it doesnt overflow*/
  /*overflow-wrap: break-word; or use this one it is practically the same*/
}

.message.user 
{
  background-color: #80c7b9;
  color: #983f37;
  align-self: flex-end;
}

.message.bot 
{
  background-color: #285c51;
  color: #efaba5;
  align-self: flex-start;
}

#chatbot-input-container 
{
  display: flex;
  padding: 10px;
  border-top: 1px solid #5E6472;
  background-color: #77a8cf;
}

#chatbot-input
{
    border:2px solid #5E6472;
    border-radius:5px;
    background-color:#92c2d3;
    font-family:'Poetsen One';
    font-size:1.2;
    padding:10px;
    color:#b86359;
    width:100%;
}

#send-btn 
{
    border: 2px solid #5E6472;
    border-radius:5px;
    margin-left:5px;
    background-color:#5693a7;
    font-family:'Poetsen One';
    color:#0f182e;
    font-size:1.0em;
    cursor:url(../image/cat.png), auto;
}

#send-btn:hover
{
    background-color:#43798b;
    color:#87b3d7;
    font-size:0.9em;
    cursor:url(../image/cat.png), auto;
}


